<section id="about">
<div class="container">
<div class="row">
<div class="col-lg-12 text-center">
<h2 class="section-heading">About me</h2>
<h3 class="section-subheading text-muted">Know me more in few words</h3>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul class="timeline">
	<li>
	<div class="timeline-image"><img
		class="img-circle img-responsive" src="images/about/maddyDeepak.jpg"
		alt="Maddy Deepak"></div>
	<div class="timeline-panel">
	<div class="timeline-heading">
	<h4>Deepak Maddheshiya</h4>
	<h4 class="subheading">(Maddy Deepak)</h4>
	</div>
	<div class="timeline-body">
	<p class="text-muted">Hi there, my name is Deepak Maddheshiya and
	I'm from Uttar Pradesh, India. Friends call me Maddy. I have done my
	engineering in Computer Science from Greater Noida, NCR India. After
	finishing my graduation, I moved to Bengaluru. I like to make new
	friends.</p>
	</div>
	</div>
	</li>
	<li class="timeline-inverted">
	<div class="timeline-image"><img
		class="img-circle img-responsive" src="images/about/work.jpg"
		alt="Work"></div>
	<div class="timeline-panel">
	<div class="timeline-heading">
	<h4>Work</h4>
	<h4 class="subheading">Senior Software Engineer</h4>
	</div>
	<div class="timeline-body">
	<p class="text-muted">Currently I'm working as a Senior Software
	Engineer at FIS, Bengaluru. I have around four years of software
	development experience in technologies like Java, Oracle Pl/SQL, HTML,
	CSS, Javascript, AngularJS, Web Services etc. Before FIS, I worked for
	TCS where I handled various projects for their client Qualcomm Inc.</p>
	</div>
	</div>
	</li>
	<li>
	<div class="timeline-image"><img
		class="img-circle img-responsive" src="images/about/interests.jpg"
		alt="Interests"></div>
	<div class="timeline-panel">
	<div class="timeline-heading">
	<h4>Interests</h4>
	<h4 class="subheading">Things I love to Do</h4>
	</div>
	<div class="timeline-body">
	<p class="text-muted">I like to hang out with my friends. Visiting
	new places teaches me life lessons which helps me so much. I feel more
	energetic and know myself better. I love to cook different cuisines. I
	listen to my favourite songs sometimes when I'm just chilling around.</p>
	</div>
	</div>
	</li>
	<li class="timeline-inverted">
	<div class="timeline-image"><img
		class="img-circle img-responsive" src="images/about/volunteer.jpg"
		alt="Volunteer Experience"></div>
	<div class="timeline-panel">
	<div class="timeline-heading">
	<h4>Volunteer Experience</h4>
	<h4 class="subheading">Some good deeds which made me happy</h4>
	</div>
	<div class="timeline-body">
	<p class="text-muted">I've been a part of few events like teaching
	English to primary school children and office security staffs. I have
	been going for blood donation. I used to be a part of the event
	management team at office, which used to conduct account level
	activities like sports, festival celebrations, birthday bashes,
	competition etc. I visited an orphanage here in Bengaluru, where we
	distributed sweets, chocolates & stationaries to kids. I support PETA
	and inspire people to love animals & stop the cruelty to them.</p>
	</div>
	</div>
	</li>
	<li>
	<div class="timeline-image"><img
		class="img-circle img-responsive" src="images/about/travel.jpg"
		alt="Travelogue"></div>
	<div class="timeline-panel">
	<div class="timeline-heading">
	<h4>Travelogue</h4>
	<h4 class="subheading">Places I've visited so far</h4>
	</div>
	<div class="timeline-body">
	<p class="text-muted">I love travelling and have visited many
	places so far. Few of the places I've visited include Ujjain, Jammu,
	Jaipur, Diu, Mount Abu, Jaisalmer, Ooty, Coorg, Kanyakumari,
	Rameshwaram, Munnar, Chikmanglur, Wayanad, Gokarna, Kodaikanal,
	Kovalam, Tirupathi, Pondicherry etc. I haven't visited any other
	country except Nepal. I'll surely plan some international trips soon.</p>
	</div>
	</div>
	</li>
	<li class="timeline-inverted">
	<div class="timeline-image"><img
		class="img-circle img-responsive" src="images/about/language.jpg"
		alt="Language"></div>
	<div class="timeline-panel">
	<div class="timeline-heading">
	<h4>Language</h4>
	<h4 class="subheading">Languages I speak</h4>
	</div>
	<div class="timeline-body">
	<p class="text-muted">I speak English, Hindi & Bhojpuri. Hindi is
	my native language. I've learnt basic Kannada as well which helps me
	understand people from Karnataka.</p>
	</div>
	</div>
	</li>
	<li class="timeline-inverted">
	<div class="timeline-image"><a ui-sref="photography"><img
		class="img-circle img-responsive" src="images/about/camera.jpg"
		alt="camera pic"></a>
	<h3 class="section-subheading text-muted">Visit my<br>
	Photography<br>
	Page</h3>
	</div>
	</li>
</ul>
</div>
</div>
</div>
</section>