<footer>
<div class="container">
<div class="row">
<div class="col-md-4"><span class="copyright">www.maddydeepak.com 2016</span></div>
<div class="col-md-4">
</div>
<div class="col-md-4">
<ul class="list-inline social-buttons">
	<li><a href="https://www.facebook.com/deepakthemaddy" title="Connect with me on Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
	<li><a href="https://twitter.com/maddyrocks07" title="Follow me on Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
	<li><a href="https://in.linkedin.com/in/deepak-maddheshiya-08627937" title="Connect with me on LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
	<li><a href="https://www.instagram.com/deepak_the_maddy/" title="Follow me on Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
</ul>
</div>
</div>
</div>
</footer>