<nav id="mainNav"
	class="navbar navbar-default navbar-custom navbar-fixed-top">
<div class="container">
<div class="navbar-header page-scroll">
<button type="button" class="navbar-toggle" data-toggle="collapse"
	data-target="#bs-example-navbar-collapse-1"><span
	class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
</button>
<a class="navbar-brand page-scroll" href="#page-top">Maddy Deepak</a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
	<li class="hidden"><a href="#page-top"></a></li>
	<li ng-class="setActive('/about')"><a class="page-scroll" ui-sref="about">About Me</a></li>
	<li ng-class="setActive('/photography')"><a class="page-scroll" ui-sref="photography">Photography</a></li>
	<li ng-class="setActive('/contact')"><a class="page-scroll" ui-sref="contact">Contact</a></li>
</ul>
</div>
</nav>